spring:
  config:
    import:
      - file:config/sources.yml
  docker:
    compose:
      enabled: true

downloader:
  media:
    base-dir: /downloads

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
