spring:
  config:
    import:
      - file:config/sources.yml
  docker:
    compose:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
